<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      Xinstafans
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <style>
    .posts {
      width: 350px;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 25px;
  
    }
  </style>



    
      <ion-card class="posts" style="margin-top: 50px;">
        <ion-card-title><img src="../../assets/img/PaulaBETIS.png" alt="perfil1" style="width: 40px; height: 40px; border-radius: 50%;">&#64;paula_barça_oficial</ion-card-title>
        
        <img alt="photo" src="assets/img/davinia.png" />
        <ion-card-header>
          <ion-card-subtitle>Sunset 😍</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p>&#64;dir123: Guaapaa</p>
          <p>&#64;danielmelero: cada dia me gustas más 😅</p>
        </ion-card-content>
        <ion-icon name="heart-outline" size="large"></ion-icon>
        <ion-icon name="chatbubble-outline" size="large"></ion-icon>
        <ion-icon name="paper-plane-outline" size="large"></ion-icon>
      </ion-card>
    
      <ion-card class="posts">
        <ion-card-title><img src="../../assets/img/1516903460766.jpg" alt="perfil2" style="width: 40px; height: 40px; border-radius: 50%;">&#64;josete_manolete</ion-card-title>
        <img alt="photo" src="../../assets/img/cursinea.png" />
        <ion-card-header>
          <ion-card-subtitle>solo quiero..</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p>&#64;carla2442: literaaal</p>
          <p>&#64;francis_brick: bua, vaya factous...</p>
        </ion-card-content>
        <ion-icon name="heart-outline" size="large"></ion-icon>
        <ion-icon name="chatbubble-outline" size="large"></ion-icon>
        <ion-icon name="paper-plane-outline" size="large"></ion-icon>
      </ion-card>

      <ion-card class="posts">
        <ion-card-title><img src="../../assets/img/AllamNeta.jpg" alt="perfil3" style="width: 40px; height: 40px; border-radius: 50%;">&#64;allamneta</ion-card-title>
        <img alt="photo" src="../../assets/img/dbook.png" />
        <ion-card-header>
          <ion-card-subtitle>fan de este tío</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p>Aún no hay comentarios</p>
        </ion-card-content>
        <ion-icon name="heart-outline" size="large"></ion-icon>
        <ion-icon name="chatbubble-outline" size="large"></ion-icon>
        <ion-icon name="paper-plane-outline" size="large"></ion-icon>
      </ion-card>

      <ion-card class="posts">
        <ion-card-title><img src="../../assets/img/Sergio Felipe.jfif" alt="perfil4" style="width: 40px; height: 40px; border-radius: 50%;">&#64;soygay_69</ion-card-title>
        <img alt="photo" src="../../assets/img/lakers.png" />
        <ion-card-header>
          <ion-card-subtitle>Este es el equipo favorito de mi novio 😍</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p>&#64;ivan_bellotas: jaja, te amo bebe ❤💖</p>
        </ion-card-content>
        <ion-icon name="heart-outline" size="large"></ion-icon>
        <ion-icon name="chatbubble-outline" size="large"></ion-icon>
        <ion-icon name="paper-plane-outline" size="large"></ion-icon>
      </ion-card>

      <ion-card class="posts">
        <ion-card-title><img src="../../assets/img/dbook2.png" alt="perfil5" style="width: 40px; height: 40px; border-radius: 50%;">&#64;todo_nba</ion-card-title>
        <img alt="photo" src="../../assets/img/dbook2.png" />
        <ion-card-header>
          <ion-card-subtitle>Dbook está en su prime</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p>&#64;basketgod: literal si</p>
          <p>&#64;clutch_bucket: devin booker está locoo</p>
          <p>&#64;demas6basket: 50 puntitos ayer...</p>
          <p>+3 comments</p>
        </ion-card-content>
        <ion-icon name="heart-outline" size="large"></ion-icon>
        <ion-icon name="chatbubble-outline" size="large"></ion-icon>
        <ion-icon name="paper-plane-outline" size="large"></ion-icon>
      </ion-card>

      <ion-card class="posts">
        <ion-card-title><img src="../../assets/img/AllamNeta.jpg" alt="perfil6" style="width: 40px; height: 40px; border-radius: 50%;">&#64;allamneta</ion-card-title>
        <img alt="photo" src="../../assets/img/lebron.png" />
        <ion-card-header>
          <ion-card-subtitle>pues fuera coñas, LeBron...</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p>&#64;barrena_guarro33: LeBron es el GOAT!!!</p>
          <p>&#64;diego_pancho: deportenme</p>
          <p>+10 comments</p>
        </ion-card-content>
        <ion-icon name="heart-outline" size="large"></ion-icon>
        <ion-icon name="chatbubble-outline" size="large"></ion-icon>
        <ion-icon name="paper-plane-outline" size="large"></ion-icon>
      </ion-card>

</ion-content>





